{% extends "bookings/base.html" %}
{% block title %} Login {% endblock %}

{% block content %}
<h1 class="mt-5 mb-3 text-center">Login</h1>
<div class="d-flex justify-content-center">
    <!-- Display any errors with form if needed. -->
    {% if form.errors %}
        <div class="m-3 p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
            {% for error in form.non_field_errors %}
                {{ error }}
                <br>
            {% endfor %}

            {% for errorType in form %}
                {% for error in errorType.errors %}
                    {{ error }}
                    <br>
                {% endfor %}
            {% endfor %}

        </div>
    {% endif %}
</div>


<div class="d-flex justify-content-center">
    <form method="POST">
        {% csrf_token %}
        <!-- Format the fields in an organized way. -->
        <div class="mb-3">
            {{ form.username.label_tag }}
            <br>
            {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            <br>
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary mb-5">Submit</button>
    </form>
</div>


<!-- Allow user to be redirected to sign up page if needed.-->
<div class="text-center">
    <p>Don't have an account?</p>
    <a href="{% url 'signup' %}">Sign up</a>
</div>

{% endblock %}
