{% extends "bookings/base.html" %}
{% block title %} {{ movie.title }} {% endblock %}

{% block content %}
<h1 class="text-center pt-3 pb-5">Available Movies</h1>

<!-- Change the amount of tiles based on size of screen (i.e. when screen is large, 5 tiles fit. -->
<div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-5">
    {% for movie in movies %}
        <div class="col">
            <div class="card border-0 text-center">
            {% if movie.seat_set.all %}

                <!-- If the selected movie has bookings, have image direct user to available times page. -->
                <a href="{% url 'movie_time' movie.id %}">
                    <img src="{{ movie.image.url }}"
                         alt="Movie Cover"
                         class="img-fluid rounded"
                         style="max-height: 375px;">
                </a>
            {% else %}
                <img src="{{ movie.image.url }}"
                     alt="Movie Cover"
                     class="img-fluid rounded"
                     style="max-height: 375px;">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
            </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
